@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
--primary-color: #b9001f;
--secondary-color: #0d1f2b;
--neutral-color: #ffefef;
--light-red: #E71418;

}

body {
    font-family: "Poppins", sans-serif;
}