@import url('reset.css');
@import url('global.css');
@import url('components/_navigator.css');
@import url('components/_pills.css');
@import url('components/_gallery.css');

.s-wrapper {
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-color: aqua;
}

.s-wrapper video{
    position: fixed;
    width: 100%;
}

.s-wrapper .s-left-column {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content {
    width: 100%;
    height: 100%;
    background-color: gray; 
    padding-left: 130px;
    position: relative;
}

.s-wrapper .s-main-content__top {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.s-wrapper .s-main-content__bottom {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.s-wrapper .s-main-content .s-logo img{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.s-wrapper .s-main-content__top .s-description{
    background-color: rgba(0,0,0,.8);
    max-width: 58%;
    padding: 25px;
    border-radius: 10px;
    margin: 0;
    text-align: justify;
}

.s-wrapper .s-main-content__top .s-description .s-description__text p{
    color: white;
    line-height: 158%;
    font-family: 'Lato', serif;
    font-size: medium;

}

.s-wrapper .s-main-content__top .s-description .s-description__text b {
    font-family: 'Lato', serif;
}
.s-wrapper .s-main-content__top .s-description .pills{
    margin-bottom: 20px;
}

.s-wrapper .s-main-content .s-links {
    padding: 10px;
    padding-left: 0;
    margin-left: 0px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-weight: bolder;

}
.s-wrapper .s-main-content .s-links ul li a span{
    display: inline-block;
    block-size: 60px;
    margin: 5px 0px;
}

.s-spiderman-01-01 {
    background-image: url('/assets/images/spiderman-tobey/movie-01/background.png');
    background-size: cover;
}

.s-spiderman-01-02 {
    background-image: url('/assets/images/spiderman-tobey/movie-02/background.png');
    background-size: cover;
}
.s-spiderman-01-03 {
    background-image: url('/assets/images/spiderman-tobey/movie-03/background.png');
    background-size: cover;
}

.s-spiderman-02-01 {
    background-image: url('/assets/images/spiderman-andrew/movie-01/background.png');
    background-size: cover;
}
.s-spiderman-02-02 {
    background-image: url('/assets/images/spiderman-andrew/movie-02/background.png');
    background-size: cover;
}
.s-spiderman-03-01 {
    background-image: url('/assets/images/spiderman-tom/movie-01/background.png');
    background-size: cover;
}
.s-spiderman-03-02 {
    background-image: url('/assets/images/spiderman-tom/movie-02/background.png');
    background-size: cover;
}
.s-spiderman-03-03 {
    background-image: url('/assets/images/spiderman-tom/movie-03/background.png');
    background-size: cover;
}