.gallery {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 50px;
  }
  
  .gallery ul{
    display: flex;
    flex-direction: row;
  }
  
  .gallery ul li{
    margin-left: 25px;
    margin-top: 25px;
  }
  
  .gallery ul li:first-child{
    margin-left: 0px;
  }
  
  .gallery ul li a img{
    border:solid 4px white;
    border-radius: 15px;
    size: 40px;
    max-width: 250px;
    height:150px;
  }

  .gallery ul li a video{
    border:solid 4px white;
    border-radius: 15px;
    size: 40px;
    max-width: 267px;
    height:150px;
    background-size: cover;
    position: absolute;
  }